// Helper classes
// --------------------------------------------------
// Classes to use for small, common tasks. If used in conjunction
// with other styles, please create a class and extend the placeholder.

.bold,
%bold { font-weight: 700; }

.italic,
%italic { font-style: italic; }

%list-without-styles,
.list-without-styles {
  list-style-type: none;
  padding: 0;
}

%mobile-only,
.mobile-only {
  @media screen and (min-width: bp(afl_small)) {
    display: none !important;
  }
}

%desktop-only,
.desktop-only {
  width: 100%;

  @media screen and (max-width: bp(afl_small_just_before)) {
    display: none !important;
  }
}

%limited-text {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    line-height: 1.1em;
    overflow: hidden;
    text-overflow: ellipsis;
}
