@import '../../../theme/base';

.myVideoButton {
  background-color: transparent;
  border: 0;
  color: #fff;

  &:hover {
      color: color(primary-on-mid-grey);
  }

  &:focus {
    color: color(primary-on-mid-grey); // trust color cueing is enough
    // NOTE: accessibility experts asked for this to be removed... outline: 3px solid transparent; // For Windows high contrast mode
  }
}
