@import './shared/theme/base';

// NOTE: with Spring 2019 push for greater accessibility, making use of angular/CDK (e.g., for
// drop-down menu box overlay that traps focus such as to choose which fields to search)
// Useful walkthrough: https://blog.angularindepth.com/creating-a-toast-service-with-angular-cdk-a0d35fd8cc12
@import "~@angular/cdk/overlay";
@include cdk-overlay();

.mymodal {
  /* detach from rest of the document */
  position: fixed;
  max-width: bp(thmda_maxwidth);

  /* center */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /* ensure in front of rest of page -- increase as needed */
  z-index: 1001;

  /* visual illusion of being in front -- alter to taste */
  box-shadow: rgba(0,0,0,0.4) 10px 10px 4px;

  /* visual illusion of being a solid object -- alter to taste */
  background-color: color(light-grey);
  border: 5px solid color(primary);

  padding: em(10) em(14) em(10) em(10); // top right bottom left

  @media screen and (max-width: bp(thmda_narrow_just_before)) {
    width: 320px;
  }
  @media screen and (min-width: bp(thmda_narrow)) and (max-width: bp(afl_small_just_before)) {
    width: 380px;
  }
  @media screen and (min-width: bp(afl_small)) and (max-width: bp(afl_medium_just_before)) {
    width: 500px;
  }
  @media screen and (min-width: bp(afl_medium)) and (max-width: bp(afl_large_just_before)) {
    width: 800px;
  }
  @media screen and (min-width: bp(afl_large)) {
    width: 1180px;
  }

  @media screen and (max-width: bp(afl_small_just_before)) {
    width: 90%;
  }

  .fade {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%);
  }

  .mymodal-header {
    border-bottom: 0;
    padding: 0 0 em(22);
  }

  .mymodal-title {
    @extend %oswald;
    color: color(dark-grey);
    line-height: 120%;
    margin: 0 0 em(4) em(4); // top right bottom left
    padding: 0;
    font-size: 1.4rem;

    @media screen and (min-width: bp(afl_medium)) and (max-width: bp(afl_large_just_before)) {
      font-size: 1.6rem;
    }

    @media screen and (min-width: bp(afl_large)) {
      font-size: 1.8rem;
    }
  }

  button.close {
    color: #fff;
    background-color: color(primary);
    text-shadow: none;
    opacity: 1;

    &:hover,
    &:focus {
        box-shadow: inset 0 0 5px rgba(51,51,51,.6);
        background-color: color(secondary);
    }
  }

  .mymodal-body {
    padding: em(2) em(4) em(2); // top, right and left, bottom

    textarea,
    textarea:focus {
      @extend %source-sans;
      width: 100%;
      height: auto;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 0;
      box-shadow: none;
      color: color(dark-grey);
      font-size: 1rem;
      margin-bottom: em(16);
      resize: none;
      overflow: auto;

      // Safari will "zoom in" on the textarea with font-size like this, so it needs more space.
      // Rather than "fight it" and try to control Safari html-select element styling, give it the space
      // to do what it is doing (at least for Safari 13 on mobile, works as of May 2020).
      &:not(:root:root) {
        width: 95%;
      }

      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

      @media screen and (min-width: bp(afl_medium)) and (max-width: bp(afl_large_just_before)) {
        font-size: 1.2rem;
      }

      @media screen and (min-width: bp(afl_large)) {
        font-size: 1.4rem;
      }
    }
  }

  .email_input {
    @extend %source-sans;
    width: 100%;
    height: auto;
    color: color(dark-grey);
    background-color: #fff;
    font-size: 1rem;

    // Safari will "zoom in" on the textarea with font-size like this, so it needs more space.
    // Rather than "fight it" and try to control Safari html-select element styling, give it the space
    // to do what it is doing (at least for Safari 13 on mobile, works as of May 2020).
    &:not(:root:root) {
      width: 95%;
    }

    @media screen  and (max-width: bp(afl_large_just_before))  {
      font-size: 1.2rem;
    }

    @media screen and (min-width: bp(afl_large)) {
      font-size: 1.4rem;
    }
  }

  .mymodal-footer { // note similarity with search__submit style for search button
    border-top: 0;
    padding-bottom: 6px;

    button {
      @extend %oswald;
      background: color(primary);
      border: 1px solid color(primary); // note: added for accessibility, to provide a button border in high contrast mode
      border-radius: 0;
      color: #fff;
      font-size: 1.2rem;
      height: $buttonHeight;
      min-width: 3.125rem;
      max-width: 6.25rem;
      letter-spacing: .5px;
      transition: box-shadow .15s ease-in-out;

      &:hover,
      &:focus {
          box-shadow: inset 0 0 5px rgba(51,51,51,.6);
          background-color: color(secondary);
      }

      &:disabled {
          cursor: not-allowed;
          opacity: .4;
      }

      @media screen and (min-width: bp(afl_medium)) and (max-width: bp(afl_large_just_before)) {
        font-size: 1.4rem;
      }

      @media screen and (min-width: bp(afl_large)) {
        font-size: 1.6rem;
      }
    }

    .button-secondary {
      @extend %oswald;
      background: color(secondary);
      border: 1px solid color(secondary); // note: added for accessibility, to provide a button border in high contrast mode
      border-radius: 0;
      color: #fff;
      font-size: 1.2rem;
      height: $buttonHeight;
      min-width: 3.125rem;
      max-width: 6.25rem;
      letter-spacing: .5px;
      transition: box-shadow .15s ease-in-out;

      &:hover,
      &:focus {
          box-shadow: inset 0 0 5px rgba(51,51,51,.6);
          background-color: color(primary);
      }

      @media screen and (min-width: bp(afl_medium)) and (max-width: bp(afl_large_just_before)) {
        font-size: 1.4rem;
      }

      @media screen and (min-width: bp(afl_large)) {
        font-size: 1.6rem;
      }
    }
  }

  .modal-warning {
    @extend %source-sans-bold;

    color: color(tertiary);

    font-size: 1rem;

    @media screen and (min-width: bp(afl_medium)) and (max-width: bp(afl_large_just_before)) {
      font-size: 1.2rem;
    }

    @media screen and (min-width: bp(afl_large)) {
      font-size: 1.4rem;
    }
  }

}

.form-message {
  font-size: 1rem;

  @media screen and (min-width: bp(afl_medium)) and (max-width: bp(afl_large_just_before)) {
    font-size: 1.2rem;
  }

  @media screen and (min-width: bp(afl_large)) {
    font-size: 1.4rem;
  }
}

.mymodal-overlay {
    // See comment in https://stackoverflow.com/questions/43533463/how-to-create-a-modal-popup-that-is-compatible-with-angular-4
    // for origins of this approach to modal dialog presentation.

    /* detach from document */
    position: fixed;

    /* ensure in front of rest of page except modal */
    z-index: 1000;

    /* fill screen to catch mice */
    top: 0;
    left: 0;
    width: 9999px;
    height: 9999px;

    /* dim screen 20% -- alter to taste */
    opacity: 0.5;
    background-color: black;
}

.nav-across-width { /* only use for desktop, not mobile; mobile shows hamburger menu via header__menu-icon instead */
  @extend %desktop-only; // counters the extend %mobile-only for header__menu-icon
  color: color(dark-grey);
  font-size: 1rem;
  width: 100%;
  padding-bottom: em(14);

  @media screen and (max-width: bp(thmda_wideenough_just_before)) {
    padding-bottom: em(6);
  }

  @media screen and (min-width: bp(thmda_wideenough)) and (max-width: bp(afl_medium_just_before)) {
    padding-bottom: em(10);
  }

  @media screen and (min-width: bp(afl_medium)) and (max-width: bp(afl_large_just_before)) {
    padding-bottom: em(12);
  }
}

.nav__links {
  @extend %list-without-styles;
  @extend %oswald;

  margin: 0;
  width: 100%;
  height: 1.875rem;
}

.nav__link {
    color: color(dark-grey);
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: em(.5, 16);
    transition: all .2s ease-in-out;
    text-decoration: none;
    padding: 0 0 em(1,16) 0; // top right bottom left
    //padding: em(8,16) 0;

    &.active {
      color: color(nav-highlight-shade);
      border-bottom: em(8) solid color(nav-highlight-shade);
      text-decoration: none;
    }

    &:hover {
      color: color(nav-highlight-shade);
      text-decoration: none;
      border-bottom: em(8) solid color(nav-highlight-shade);
    }

    @media screen and (min-width: bp(afl_small)) and (max-width: bp(thmda_wideenough_just_before)) {
      font-size: 1.0rem;
    }

    @media screen and (min-width: bp(thmda_wideenough)) and (max-width: bp(afl_medium_just_before)) {
      font-size: 1.2rem;
    }

    @media screen and (min-width: bp(afl_medium)) and (max-width: bp(afl_large_just_before)) {
      font-size: 1.3rem;
    }

    @media screen and (min-width: bp(afl_large)) {
      font-size: 1.4rem;
    }
}

.nav__link--myclips { position: relative; } // needed to add nav__badge as decoration to the "my clips" nav link

.nav__badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  background-color: color(nav-highlight-shade);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
  position: absolute;
  right: - em(24);
  top: - em(16);
  @media screen and (max-width: bp(afl_medium_just_before)) {
    display: none !important; // when too narrow, less than medium, don't show the badge
  }
}

@media screen and (max-width: bp(afl_medium_just_before)) {
  .nav_verbose {
    display: none !important;
  }
}

@media screen and (min-width: bp(afl_medium)) {
  .nav_terse {
    display: none !important;
  }
}

.appHeaderPlusContents {
    margin: 0;
    padding: 0;
    max-width: bp(thmda_maxwidth);
}

.header {
  background-color: color(light-grey);
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,.15);

  padding: em(4) em(8) 0; // top, left and right, bottom

  @media screen and (min-width: bp(afl_small)) and (max-width: bp(afl_medium_just_before)) {
      padding: em(4) em(12) 0; // top, left and right, bottom
  }

  @media screen and (min-width: bp(afl_medium)) {
      padding: em(2) em(16) 0; // top, left and right, bottom
  }
}

.header__content-container {
  margin: 0 auto;
  @media screen and (min-width: bp(thmda_maxwidth)) {
      max-width: bp(thmda_maxwidth);
  }
}

.imposeMaxContentsWidth {
  margin: 0;
  @media screen and (max-width: bp(thmda_maxwidth_just_before)) {
    margin: 0 auto;
    width: 100%;
  }
  @media screen and (min-width: bp(thmda_maxwidth)) {
      margin: 0 auto;
      width: bp(thmda_maxwidth);
  }
}

.imposeMaxWidth {
  margin: 0 auto;
  max-width: bp(thmda_maxwidth);
}

.header__top-flex-row {
  padding: gutter(thmda-big) 0; // top, left and right, bottom

  @media screen and (max-width: bp(thmda_wideenough_just_before)) {
    padding-top: 0;
  }
}

.header__logo {
  cursor: pointer;
  outline: 0;

  @media screen and (max-width: bp(afl_medium_just_before)) {
    max-width: 90%;
  }
  @media screen and (min-width: bp(afl_medium)) {
    height: 100%;
  }
}

.desktop-top-row-tagline-area {
  @extend %desktop-only;
}

.mobile-top-row-icon-area {
  @extend %mobile-only;
}

.header__icon {
    color: color(dark-grey);
    margin-right: em(18);
    transition: color .3s ease-in-out;
}

.header__tagline {
    @extend %source-sans-bold-italic;
    color: color(dark-grey);
    font-size: 0.85rem;
    line-height: 1.125rem;
    text-align: right;
}

// a11y skip to main content
.skip {
	padding:6px;
	position: absolute;
	top:-40px;
	left:0px;
	color:white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-bottom-right-radius:8px;
	background:transparent;
  transition: top 1s ease-out, background 1s linear;
}

a.skip:focus {
	position:absolute;
	left:0px;
	top:0px;
	background:color(nav-highlight-shade);
	outline:0;
  transition: top .1s ease-in, background .5s linear;
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  animation-name: fadeOutLeft;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.hide-completely {
  display: none;
}

@media screen and (max-width: bp(afl_medium_just_before)) {
  .copy_URI_verbose {
    display: none !important;
  }
}

@media screen and (min-width: bp(afl_medium)) {
  .copy_URI_terse {
    display: none !important;
  }
}

.tightOnTop {
  margin-top: 0;
}

.tightOnTopInItalics {
  margin-top: 0;
  font-style: italic;
  text-align: center;
}
