<button class="myVideoButton" (click)="issueFastForward()">
  <!-- NOTE: this is the filled and outlined CC icon from Angular Material icon, e.g., https://material.io/resources/icons/?icon=closed_caption&style=baseline -->
  <span class="sr-only">Fast forward</span>
  <!-- NOTE: accessibility experts noted svg can be aria-hidden since span gives the label for this control -->
  <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
    <title>Fast Forward</title>
    <path d="M0 0h24v24H0z" fill="none"/><path fill="currentColor" d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z"/>
  </svg>
</button>
