@import '../shared/theme/base';

// NOTE: Formerly, story date showed only on narrow views with the stamp, but Higher Education Advisory Board (HEAB) complaints on UI/UX
// included too much information in panes of multiple stories (e.g., story sets).  So, hide story date in "card" view.  For users wanting
// more detail, including highlights on why a text match occurs, they can show the list view instead, which does include the story date.

.card {
  border: 1px solid color(ok-grey);
  color: color(dark-grey);
  background-color: color(light-grey);
  text-decoration: none;
  overflow: hidden; // necessary to hide any overflow of image for narrow card widths
  height: 100%; // needed to fill all of the allocated flex layout or grid space

  &:focus {
      // Accessibility review noted:
      //   Focus outline is missing in Firefox.
      //   For the :focus psuedo selector, define an outline style which will be visible, such as "outline: 2px dashed black;".
      // So, here that is:
      outline: 2px dashed black;
      border: 1px solid color(secondary);
      background: color(primary);
      text-decoration: none;
  }

  &:hover {
      border: 1px solid color(secondary);
      background: color(primary);
      text-decoration: none;
  }

  &.active {
    background-color: color(light-grey);
  }
}

.card_img-backdrop {
  background-color: color(light-grey);
  padding: 0;
  margin: 0;
  text-align: center;
  .card:hover & {
      background: color(primary);
      color: #fff;
  }
}

.card__img { // note: source images come in as either 320x240 or 320x180 resolution
  object-fit: cover;
  transition: filter .2s ease-in-out;
  width: 100%; // matches card__info-overlay min-width (35% of 320)
  height: 150px; // (35% of 240)
  .card:hover & {
    filter: grayscale(100%);
  }
}

.card__info-overlay {
  @extend %source-sans;
  background: color(light-grey);
  color: color(dark-grey);
  padding: 0;
  margin: 0;
  text-align: center;
  min-width: 112px; // matches card__img width

  .card:hover & {
      background: color(primary);
      color: #fff;
  }
}

.card__story-title {
  @extend %limited-text; // shows ... for text that overflows its display area
  font-size: 1rem;
  max-height: 2.7rem; // shows 3 lines cleanly, including descenders like "g"
  margin: 0;
  padding: em(8);
  text-align: left;
}

.card__story-duration {
  font-size: 1rem;
  text-align: right;
  padding: 0;
  margin: 0 em(4) 0 0; // top right bottom left
}

.list {
  border: 1px solid color(ok-grey);
  border-radius: 0;
  background-color: #fff;
  text-decoration: none;
  color: color(dark-grey);

  font-size: 1rem;
  padding: 0 em(4) em(6) em(4); // top right bottom left
  width: 100%;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
  @media screen and (min-width: bp(afl_small)) and (max-width: bp(afl_medium_just_before)) {
      font-size: 1.2rem;
  }
  @media screen and (min-width: bp(afl_medium)) and (max-width: bp(afl_large_just_before)) {
      font-size: 1.4rem;
  }
  @media screen and (min-width: bp(afl_large)) {
      font-size: 1.2rem; // at 2 per row, back to smaller font...
  }
}

.list__name {
  @extend %oswald;

  color: color(dark-grey);
  line-height: 120%;
  margin: 0 0 em(5);
  padding: 0 em(2) 0 em(2); // top right bottom left
  border: none;

  @media screen and (min-width: bp(afl_small)) and (max-width: bp(afl_medium_just_before)) {
      font-size: 1.2rem;
  }
  @media screen and (min-width: bp(afl_medium)) and (max-width: bp(afl_large_just_before)) {
      font-size: 1.4rem;
  }
  @media screen and (min-width: bp(afl_large)) {
      font-size: 1.2rem; // at 2 per row, back to smaller font...
  }
}

.list__contents {
  color: color(dark-grey);
  font-size: 1em;
  margin: 0;
  padding: 0 em(2) 0 em(2); // top right bottom left
  border: none;

  @media screen and (min-width: bp(afl_small)) and (max-width: bp(afl_medium_just_before)) {
      font-size: 1rem;
  }
  @media screen and (min-width: bp(afl_medium)) {
      font-size: 1.1rem;
  }
}

.list__storydate {
  color: color(dark-grey);
  font-style: italic;
  font-size: 1rem;
  margin: 0;
  padding: 0 em(2) 0 em(2); // top right bottom left
  border: none;

  @media screen and (min-width: bp(afl_small)) and (max-width: bp(afl_medium_just_before)) {
      font-size: 1rem;
  }
  @media screen and (min-width: bp(afl_medium)) {
      font-size: 1.1rem;
  }
}
